<!DOCTYPE html>
<html>
   <head>
      
   </head>

   <body id="body_1">
     
    
    <ul id="horizontal-list">
      <li><a href="amnas.asp">Amnas</a></li>
      <li><a href="programare.asp">Programare</a></li>
      <li><a href="#minecraft.asp">Minecraft</a></li>
    </ul>
    
     

      <div id='amnas'>
        
      </div>

      <div>
        Amnas text
      </div>
      <div id="minecraft.asp">
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>

      
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      <div>
        Amnas text
      </div>
      
      
        
        <!--
          <img  class="images" src="\assets\images\cathedral1.jpeg"/>
        -->
   </body>
</html>