<!DOCTYPE html>
<html>
   <head>
      
   </head>

   <body id="body_1">
     
    
    <ul id="horizontal-list">
      <li><a href="#div2">Amnas</a></li>
      <li><a href="#div5">Programare</a></li>
      <li><a href="#div7">Minecraft</a></li>
    </ul>
    
    
    <div id="pos_div1" class="main-positioning-div">

      <ul id="horizontal-list-amnas" class="secondary-indicator">
        <li><a href="#div2">-  A m n a s  -</a></li>
      </ul>
    
      <div id="pos_div1-1" class="secondary-positioning-div">

        <div id='div2' class="info-div">
          Amnas text Amnas SSSS
        </div>

        <div id='div3' class="info-div">
          Amnas textol
        </div>

      </div>

    </div>

    <div id="pos_div2" class="main-positioning-div">

      <ul id="horizontal-list-programare" class="secondary-indicator">
        <li><a href="#div5">- P r o g r a m a r e -</a></li>
      </ul>
    
      <div id="pos_div2-1" class="secondary-positioning-div">
        
        <div id='div5' class="info-div">
          Amnas text Amnas SSSS
        </div>

        <div id='div6' class="info-div">
          Amnas textol
        </div>

      </div>

    </div>

    <div id="pos_div3" class="main-positioning-div">

      <ul id="horizontal-list-minecraft" class="secondary-indicator">
        <li><a href="#div7">- M i n e c r a f t -</a></li>
      </ul>
    
      <div id="pos_div3-1" class="secondary-positioning-div">
        
        <div id='div7' class="info-div">
          Amnas text Amnas SSSS
        </div>

        <div id='div8' class="info-div">
          Amnas textol
        </div>

      </div>

    </div>

    <div id="div4" class="info-div">
      Amnas textutz
    </div>
    <div class="info-div">
      Amnas text 2222222222222
    </div>
    <div>
      Amnas text
    </div>

      
    <div>
        Amnas text
    </div>
    <div>
      Amnas text
    </div>
      
      
        
    <!--
      <img  class="images" src="\assets\images\cathedral1.jpeg"/>
    -->
   </body>
</html>