/*
<<<<<<<<<<<< MAIN MENU >>>>>>>>>>>
    in-use: id = horizontal-list
*/
#horizontal-list > li {
    float: left;

  }
  
  #horizontal-list > li a {
    display: block;
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
    padding: 28px 32px;
    text-decoration: none;
    font-family: 'grodna_demoregular';
    font-size: 48px;
  }

  #horizontal-list {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    text-align: center;
    align-items: center;
  }

  /* Change the link color to #111 (black) on hover */
  #horizontal-list > li a:hover {
    background-color: #111;
  }


/*
<<<<<<<<<<<< SECONDARY MENU 1 >>>>>>>>>>>
    in-use: class = [secondary-indicator ]
    outdated: id = horizontal-list2

*/

.secondary-indicator 
{
    font-weight: 500;
    float: right;
    position: fixed;
    top: 0;
    width: 30%;
    height: 87px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 115, 0);
    position: sticky;
    text-align: center;
    align-items: center;
  }

.secondary-indicator > li a {
    display: block;
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
    padding: 28px 32px;
    text-decoration: none;
    font-family: 'grodna_demoregular';
    font-size: 34px;
  }

.secondary-indicator > li a:hover {
    background-color: rgb(255, 81, 0);
  }

/*
  CUSTOM DESIGN DETAILS (UL's specified by ID)
*/

#horizontal-list-programare {
    background-color: rgb(126, 3, 120);
}

#horizontal-list-programare > li a:hover {
    background-color: rgb(182, 3, 173);
}

#horizontal-list-minecraft {
    background-color: rgb(3, 126, 30);
}

#horizontal-list-minecraft > li a:hover {
    background-color: rgb(18, 182, 3);
}

/*
<<<<<<<<<<<< STANDARD INDIVIDUAL INFO DIVS >>>>>>>>>>>
    in-use: class = [info-div]
    outdated: id = [div2, div3, div4]
*/

.info-div
{
    margin-top: 3%;
    background-color: rgba(63, 50, 50, 0.74);
    color: rgba(255, 255, 255, 0.856);
    width: 89%; /* or whatever width you want. */
    max-width: 89%; /* or whatever width you want. */
    min-height: 500px;
    display: inline-block;
}

/*
<<<< POSITIONING DIVS >>>>
    in-use: class = [main-positioning-div, secondary-positioning-div]
    outdated: id = [pos_div1, pos_div1-1]
    
*/

.main-positioning-div {
    /*
    background-color: brown;
    min-height: 100px;
    */
    padding-top: 2%;
    text-align: center;
    width: 100%; /* or whatever width you want. */
    max-width: 100%; /* or whatever width you want. */
    
}

.secondary-positioning-div {
    /*
    background-color: brown;
    min-height: 100px;
    */
    text-align: center;
    align-content: flex-end;
    width: 100%; /* or whatever width you want. */
    max-width: 100%; /* or whatever width you want. */
    
}